<p style="color: green"><%= notice %></p>

<%= render "shared/modal" do %>
  <div id="<%= dom_id @user %>" class="my-5">
    <p>
      <strong>
        Name
      </strong>
      :
      <span class="text-white font-bold">
        <%= @user.name %>
      </span>
    </p>
    <p>
      <strong>
        Last Name
      </strong>
      :
      <span class="text-white font-bold">
        <%= @user.last_name %>
      </span>
    </p>
    <p>
      <strong>
        Email
      </strong>
      :
      <span class="text-white font-bold">
        <%= @user.email %>
      </span>
    </p>
  </div>
  <div>
    <%= link_to "Edit this user",
                edit_user_path(@user),
                data: { "turbo-frame": "modal" },
                class: "bg-green-500 hover:bg-green-700 text-white py-1 px-4 rounded my-3"
    %>
    <%= button_to "Destroy this user",
                  @user,
                  method: :delete,
                  class: "bg-red-500 hover:bg-red-700 text-white py-1 px-4 rounded my-3"
    %>
    <%= link_to "Back to users",
                 users_path,
                 class: "bg-blue-500 hover:bg-blue-700 text-white py-1 px-4 rounded my-3"
    %>
  </div>
<% end %>
